body {
    background-color: aquamarine;
    }
h1 {
    margin: 10px;
    font-family: Segoe UI Black;
    font-style: initial;
    font-size: 48pt;
    text-align: center;
    color: navy;
    }
h2 {
    font-family: Segoe UI Black;
    font-style: initial;
    font-size: 24pt;
    text-align: center;
    color: navy;
    }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }
p {
    font-family: Georgia;
    font-style: normal;
    font-size: 14pt;
    text-align: justify;
    color: black;
    }
li {
    font-family: Georgia;
    font-style: normal;
    font-size: 14pt;
    text-align: justify;
}