
@media only screen and (max-width: 1600px) {
    .menu-right-hide{
        display: none;
    }
}

@media only screen and (max-width: 850px) {

    .wrapper{
        max-width: 850px;
        padding: 0 10px;
    }

    .menu-right-view{
        display:none;
    }

    .menu-right-hide{
        display:inline-block;
    }

    .top-box{
        display: flex;
        justify-content: space-around;
    }

    .text-btn{
        display: none;
    }


    blockquote:before, blockquote:after,
    q:before, q:after{
        display: none;
    }
}