/*---Обнулення значень---*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
    display: block;
    margin: 0;
    font-family: Roboto, serif;
    font-style: normal;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.content{
    max-width: 1355px;
    margin: 0 auto;
    min-height:100%;
    flex-direction: column;
}

img {
   display: block;
   width: 100%;
}

/*---------------------header-----------------*/
header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    max-height: 36px;
    background-color: #0F2438;
    z-index: 999;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-left .menu-right{
    height:100%;
    align-items: center;
    justify-content: space-between;
}

.menu__left-sub{
    height:100%;
    align-items: center;
    justify-content: center;
}

.icon-placeholder{
    width: 20px;
    height: 20px;
    margin: 4px;
}

.icon-link{
    display: inline-flex;
    align-items: center;
}

ul.menu-list{
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: inline-flex;

}

.list-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.menu__link{
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    color: #FFFFFF;
}

/*----------------nav bar----------------*/

.navbar{
    max-width: 1355px;
    max-height: 195px;
    position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-box{
    display:flex;
    justify-content: space-between;
}



.img-logo{
    width: 75px;
    height: 75px;
}

.text-logo {
    text-align: justify;
}

.logo, .phone-feedback {
    width: 20%;
    margin: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: 500;
}

.timetable, .location, .whatsapp {
    width: 20%;
    margin: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: 500;
}


.text-nav{
    display: flex;
    flex-direction:column;
    margin: 10px;
}

.text-logo-sup{
    font-size: 24px;
    line-height: 28px;
}

.text-logo-sub{
    font-size: 12px;
    line-height: 14px;
}

.icon {
    width: 32px;
    height: 32px;
}

.nav-bottom{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.search-box{
    width: 20%;
    display:flex;
    justify-content: space-between;
}

.search-btn{
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.input-search{
    max-width: 649px;
    width: 649px;
    height: 53px;
}


.catalog{
    width: 164px;
    margin: 0;

}

.nav-search{
    width: 40%;
    display:flex;
    justify-content: space-between;
}

.in-like-shop{
    width: 420px;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*-----------main start-----------*/
.main{
    max-width: 1355px;
    max-height: 390px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carousel-main{
    max-width: 1008px;
    max-height: 390px;
    width: 70%;
    border-radius: 20px;
    background-image: url("../img/carousel_fon.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-wrap{
    max-width: 420px;
    max-height: 360px;
    margin: 0;
}

.price-wrap{
    max-width: 330px;
    max-height: 210px;
    margin: 0;
    justify-content: space-between;
}

.price-title{
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.price-name{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.main-pay{
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.main-btn {
    width: 100px;
    height: 50px;
    margin: 0;
    padding: 0 20px 0 20px;;
    background-color: #005BB9;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.carts-section{
    width:30%;
    height: 190px;
    display: flex;
    flex-direction: column;

}

.sale-cart{
    margin: 10px;
    border: 1px solid #E1E5F8;
    border-radius: 5px;

}

.cart-title {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.sale-wrap{
    display: flex;

}

.name-price{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
}

.img-sale{
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}


.price-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    text-align: left;
}

.firm-text{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.price-pay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-new{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.price-old{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.cart-btn{
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.icon-sale {
    width: 20px;
    height: 20px;
    align-items: center;
}

/*-----main end-----*/

/*-----*/

.catalog-carousel{
    max-width: 1355px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 0;
}

.catalog-cart{
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid #E1E5F8;
    border-radius: 5px;
}
.catalog-wrap{
    display: flex;
    flex-direction: column;
}

.catalog-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.catalog-text{
    width: 170px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;/* or 171% */
    color: #0A1A2C;
}

.catalog-img{
    max-width: 155px;
    max-height: 200px;
    align-items: center;
}

.catalog-btn{
    height: 30px;
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/*-------------button section----------------------*/

.main-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.main-btn-blue{
    max-width: 240px;
    width: 100%;
    height: 55px;
    margin: 0 20px 0 0;
    padding: 0 20px 0 20px;;
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.main-btn-white{
    width: 100%;
    height: 55px;
    margin: 0 20px 0 0;
    padding: 0 20px 0 20px;;
    background-color: #FFFFFF;
    border:3px solid #005BB9;
    border-radius: 8px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}

/*------------- section cards grid----------------------*/

.cards-grid{
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
}

.card{
    width: 320px;
    height: 420px;
    margin: 10px;
    border: 1px solid #E1E5F8;
    border-radius: 5px;
}

.img-catalog{
    max-width: 270px;
}

.card-btn-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.opinion-icon{
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
}

.icon-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
}

.opinion-tex{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.card-opinion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.card-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;/* identical to box height, or 125% */
    color: #0A1A2C;
}

.card-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.card-btn{
    width: 100px;
    height: 50px;
    margin: 0 0 0 0;
    padding: 0 20px 0 20px;;
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.card-icon{
    width: 21px;
    height: 21px;
    margin: 20px;
}

/*------------- section news-bar----------------------*/

.news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.news-column{
  width: 300px;
  height: 250px;
  margin: 10px;
}

.news-label{
    width: 105px;
    height: 25px;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
}

h4{
    margin: 0 auto;
    color: #FFFFFF;
}

/*------------- footer menu----------------------*/

.footer-menu{
    display: flex;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #0F2438;
    z-index: 999;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.menu-column{
    min-width: 240px;
    display: block;
}

.column-list{
    height: 100%;
    text-align: left;
    margin: 0 auto;
    flex-direction: column;
    justify-content: left;
}

.title-column{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.list-item{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 5px 0 0 0;
}

.item__link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.item-icon{
    width: 115px;
    height: 45px;
}

/*-----------------------------*/
