@media only screen and (max-width: 400px) {

    .wrapper{
        max-width: 340px;
        padding: 0 10px;
    }

       .header__menu{
        display:none;
    }

    .header__logo{
        width: 50px;
    }
}
