body {
    display: block;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   outline: none;
}

.wrapper{
    max-width: 1355px;
    width: 100%;
    margin: 0 auto;
    min-height:100%;
    overflow: hidden;
    flex-direction: column;
}

img {
   display: block;
   width: 100%;
}

/*---------------------header-----------------*/
.header-menu {
    display: flex;
    top:0px;
    left: 0px;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #0F2438;
    z-index: 999;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-placeholder{
    width: 20px;
    height: 20px;
    margin: 4px;
}

.icon-link{
    display: inline-flex;
    align-items: center;
}

ul.menu-list{
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.list-item{
    display: inline-block; /* Відображати в рядок */
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px; /* відступи навколо тексту */
}

.menu-left .menu-right{
    height:100%;
    align-items: center;
}

.menu__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/*----------------nav bar----------------*/

.navbar{
    max-width: 1355px;
    max-height: 195px;
    position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-box{
    display:flex;
    justify-content: space-between;
}


.logo{
    width: 75px;
    height: 75px;
}

.text-logo {
    text-align: justify;
}

.top-nav {
    width: 20%;
    margin: 10px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

.text-nav{
    display: flex;
    flex-direction:column;
    margin: 10px;
}

.text-logo-sup{
    font-size: 24px;
    line-height: 28px;
}

.text-logo-sub{
    font-size: 12px;
    line-height: 14px;
}

.icon {
    width: 32px;
    height: 32px;
}

.nav-bottom{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.search-box{
    width: 20%;
    display:flex;
    justify-content: space-between;
}

.search-btn{
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.input-search{
    width: 100%;
    max-width: 649px;
    width: 649px;
    height: 53px;
}


.catalog{
    width: 164px;
    margin: 0px;

}

.nav-search{
    width: 40%;
    display:flex;
    justify-content: space-between;
}

.in-like-shop{
    width: 420px;
    height: 40px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*-----------main start-----------*/
.main{
    max-width: 1355px;
    max-height: 390px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carousel-main{
    max-height: 390px;
    width: 70%;

}

.carts-section{
    width:30%;
    height: 190px;
    display: flex;
    flex-direction: column;

}

.sale-cart{
    margin: 10px;
}

.cart-title {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.sale-wrap{
    display: flex;

}

.name-price{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
}

.img-sale{
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}


.price-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
    text-align: left;
}

.firm-text{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.price-pay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-new{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.price-old{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.cart-btn{
    background-color: #005BB9;
    border-radius: 8px;
    display:inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.icon-sale {
    width: 20px;
    height: 20px;
    align-items: center;
}

/*-----main end-----*/

/*-----*/



.catalog-carousel{
    max-width: 1355px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 0px 0px 0px;
}

.catalog-cart{
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.catalog-wrap{
    display: flex;
    flex-direction: column;
}

.catalog-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.catalog-text{
    width: 170px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;/* or 171% */
    color: #0A1A2C;
}

.catalog-img{
    max-width: 155px;
    max-height: 200px;
    align-items: center;
}

.catalog-btn{
    width: 90px;
    height: 30px;
    background-color: #005BB9;
    border-radius: 8px;
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
/*-----------------------------------*/


.main-buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}


.main-btn{
    width: 90px;
    height: 55px;
    background-color: #005BB9;
    border-radius: 8px;
    display:flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}


.carts__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.news__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.news__column{
  width: 300px;
  height: 250px;
  margin: 10px;
}

.news__button{
    width: 105px;
    height: 25px;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;

}


h4{
    margin: 0 auto;
    color: #FFFFFF;
}