body {
    display: block;
    margin: 0px;
}

a {
    text-decoration: none;
    font-size: 10pt;
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap__top{
    width: 100%;
    height: 232px;
    background-color: lightblue;
}
.menu {
    display: flex;
    width: 100%;
    min-height: 25px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #20c997;
    z-index: 999;
}

ul.menu__list{
    height: 100%;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

li.menu__list-item{
    display: inline-block; /* Відображати в рядок */
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px; /* відступи навколо тексту */
}

.menu__left .menu__right{
    height:100%;
    background-color: darkseagreen;
}

/*---nav bar---*/

.nav__top{
    display:flex;
    justify-content: space-between;
}

.nav__bottom{
    display:flex;
    justify-content: space-between;
}

.menu__text{
    text-align: center;
    font-size: 10pt;
    text-decoration-color: #6a1a21;
}

.nav__logo{
    width: 20%;
    height: 80px;
    margin: 10px;
    background-color: lightpink;
}

.nav__work-time{
    width: 20%;
    height: 80px;
    margin: 10px;
    background-color: lightsalmon;
}

.nav__address{
    width: 20%;
    height: 80px;
    margin:10px;
    background-color: lightcyan;
}
.nav__whatsapp{
    width: 20%;
    height: 80px;
    margin: 10px;
    background-color: lightslategrey;
}

.nav__phone-number{
    width: 20%;
    height: 80px;
    margin: 10px;
    background-color: lightcoral;
}

.nav__catalog{
    width: 25%;
    height: 80px;
    margin: 10px;
    background-color: lightcoral;
}

.nav__search{
    width: 50%;
    height: 80px;
    margin: 10px;
    background-color: lightcoral;
}

.nav__in-like-shop{
    width: 25%;
    height: 80px;
    margin: 10px;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
}

.nav__log-in{
    width: 33%;
    height: 80%;
    margin: 10px;
    background-color: lightslategrey;
}

.nav__in-like-shop .nav__like{
    width: 33%;
    height: 80%;
    margin: 10px;
    background-color: lightslategrey;
}

.nav__in-like-shop .nav__shopping-cart{
    width: 33%;
    height: 80%;
    margin: 10px;
    background-color: lightslategrey;
}

/*--hero--*/
.hero{
    background: #0dcaf0;
}

.herofon{
    background: #20c997;
}