@media only screen and (max-width: 400px){
    .header__menu{
        display:none;
    }

    .header__logo{
        width: 50px;
    }

    .wrapper{
        max-width: 340px;
        padding: 0 10px;
    }

    .header__top{
        padding-top: 20px;
    }

    .nav__btn_mobile{
        display:flex;
    }

    .header__title {
        text-align:center;
    }

    .header__title h2{
        font-size:34px;
        line-height: 36px;
    }
    .header__title h1{
        font-size:40px;
        line-height: 46px;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        display: none;
    }
}
