*{
    margin:0;
}
.wrap{
    width:100%;
    height:1000px;
}
.header{
    margin-top: auto;
    width:100%;
    height:100px;
    background-color: lightgreen;
}
.nav{
    width:100%;
    height:100px;
    background-color: lightblue;
}
.content{
    display:flex;
    height:600px;
}
.space{
    width:100%;
    height:600px;;
}
.article{
    display:flex;
    flex-direction:column;
    align-content:flex-start;
    width:70%;
    height:100%;
    background-color:lemonchiffon;
}
.section{
    width:100%;
    height:50px;
    background-color:violet;
}
.div{
    width:30%;
    height:100%;
}
.aside{
    width:100%;
    height:50%;
    background-color:aqua;
}
.footer{
    width:100%;
    height:100px;
    background-color:yellow;
}