header{
    width: 100%;
    height: 200px;
    background-color: cornflowerblue;
    text-align: center;
    color: gold;
}
nav{
    width: 100%;
    height: 100px;
    background-color: blue;
    text-align: center;
    color: orangered;
}
.wrapper{
    width: 100%;
    height: 400px;
    display: flex;
}
main{
    width: 75%;
    height:100%;
    background-color: aqua;
    text-align: center;
    color: orangered;
}
aside{
    width: 25%;
    height: 100%;
    background-color: blueviolet;
    text-align: center;
    color: orangered;
}
footer{
    width: 100%;
    height: 150px;
    background-color: darkcyan;
    text-align: center;
    color: orangered;
}