header{
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
    text-align: center;
    color: darkviolet;
}

.wrapper{
    width: 100%;
    height: 600px;
    display: flex;
}
.wrapper1 {
    width: 35%;
    height: 100%;
}
.hero{
    width: 100%;
    height:50%;
    background-color: violet;
    text-align: center;
    color: darkviolet;
}
.sidebar{
    width: 100%;
    height: 50%;
    background-color: olive;
    text-align: center;
    color: darkviolet;
}
.wrapper2{
    width: 65%;
    height: 100%;
}
.main {
    width: 100%;
    height: 75%;
    background-color: yellow;
    text-align: center;
    color: darkviolet;
}
.extra{
    width: 100%;
    height: 25%;
    background-color: gray;
    text-align: center;
    color: darkviolet;
}
.wrapper3{
    width: 100%;
    height: 40%;
    display: flex;
}
.images{
    width: 75%;
    height: 200px;
    background-color: cyan;
    text-align: center;
    color: darkviolet;
}
.posts{
    width: 25%;
    height: 200px;
    background-color: lightcoral;
    text-align: center;
    color: darkviolet;
}
footer{
    width: 100%;
    height: 50px;
    background-color: orange;
    text-align: center;
    color: darkviolet;
}